@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey: #4b4b4b;
  --blue: #0016e1;
  --pink: #ff1ca1;
  --green: #00b300;
  --red: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.max {
  height: 100%;
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.top-left {
  top: 0;
  left: 0;
}

.above {
  z-index: 1000;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.column-flex {
  display: flex;
  flex-direction: column;
}
